.card-container {
    margin-top: 32px;
    width: 120%;
    background-color: white;
    border: 1px solid lightgray;
}

.card {
    width: 100%;
    border-radius: 0%;

}


.profile img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 10px;
}

.profile-text {
    flex-direction: column;
    list-style: none;
    display: flex;
    align-items: flex-start;
    background-color: yellow;
}